{% extends '::base.html.twig' %}

{% block body %}
    <div class="container">
        <h2>Mes contacts</h2>
        <ul>
            {% for contact in user.contacts %}
                <li>
                    <a href="{{ path("contact_show", {'id': contact.id} ) }}">{{ contact.email }}</a> |
                    <a href="{{ path("contact_remove", {"id": contact.id} ) }}">Supprimer</a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
